---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";

const finished = true;

const identity = {
    firstName: "Ash",
    occupation: "Student",
    hobbies: ["developing", "*nix", "theater", "drawing"],
};

const languages = [
    "HTML",
    "CSS",
    "English",
    "JavaScript",
    "Astro",
    "Python",
    "French",
    "Lua",
    "Scratch",
];
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is a very simple blog!</p>
    <p>
        Just a simple test blog that im making by following a tutorial, I want
        to learn astro!
    </p>

    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
            I work as a {identity.occupation}.
        </li>
        {
            identity.hobbies.length >= 2 && (
                <li>
                    Two of my hobbies are: {identity.hobbies[0]} and{" "}
                    {identity.hobbies[1]}
                </li>
            )
        }
    </ul>
    <p>I know how to speak in:</p>
    <ul>
        {languages.map((language) => <li class="language">{language}</li>)}
    </ul>

    {
        finished ? (
            <p>I finished this tutorial!</p>
        ) : (
            <p>I haven't finished this tutorial.</p>
        )
    }
</BaseLayout>
