---
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <p>
        Learn more about my projects
        <Social platform="Codeberg" profile_url="https://codeberg.org/Ash882" />
        <Social platform="Github" profile_url="https://github.com/Ash882" />
        <Social
            platform="YouTube"
            profile_url="https://www.youtube.com/@boburnham"
        />
        <Social platform="Twitter" profile_url="https://twitter.com/YonKaGor" />
        (For legal reasons I have to mention that those users are obviously not my
        socials)
    </p>
</footer>
