---

---

<div class="nav-links" transition:animate="slide">
    <a href="/">Home</a>
    <a data-astro-reload href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
</div>
