---
const { profile_url, platform } = Astro.props;
---

<a href={profile_url}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>
