---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import SpeedInsights  from "@vercel/speed-insights/astro"

const { pageTitle } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle} - Blog</title>
        <ViewTransitions />
    </head>
    <body>
        <Header />

        <h1 transition:animate="slide">{pageTitle}</h1>

        <slot />

        <Footer />

        <SpeedInsights />

        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
