---
const { frontmatter } = Astro.props;

import { fade } from "astro:transitions";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
    <h2 transition:animate={fade({ duration: '2s' })}>{frontmatter.description}</h2>

    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />

    <h3>Written by: <a href="/about/">{frontmatter.author}</a></h3>
    <h3>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</h3>

    <div class="tags">
        {
            frontmatter.tags.map((tag) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>

    <slot />
</BaseLayout>

<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag {
      margin: 0.25em;
      border: dotted 1px #a1a1a1;
      border-radius: .5em;
      padding: .5em 1em;
      font-size: 1.15em;
      background-color: #F8FCFD;
    }
  </style>